<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Confirmação de Cadastro de Autores</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Dados enviados pelo usuário</h1>

            <div class="section text-center w-75">
                <p>ID: <b th:text="${autor.id}"/></p>
                <p>ID Autor: <b th:text="${autor.idAutor}"/></p>
                <p>Nome: <b th:text="${autor.nome}"/></p>
                <p>Sobrenome: <b th:text="${autor.sobrenome}"/></p>
                <p>Descricao: <b th:text="${autor.descricao}"/></p>

                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>