<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Confirmação de Cadastro de Exemplares</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Dados enviados pelo usuario</h1>

            <div class="section text-center w-75">
                <p>ID do Exemplar: <b th:text="${exemplar.idExemplar}"/></p>
                <p>ID do Livro: <b th:text="${exemplar.idLivro}"/></p>
                <p>Data do Cadastro: <b th:text="${exemplar.exemplarCadastro}"/></p>
                <p>Data do Exclusão: <b th:text="${exemplar.exemplarExclusao}"/></p>
                <p>Condições: <b th:text="${exemplar.condicoes}"/></p>
                <p>Observações: <b th:text="${exemplar.observacoes}"/></p>

                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>