<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Confirmação de Cadastro de Usuarios</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Dados enviados pelo usuario</h1>

            <div class="section text-center w-75">
                <p>Nome: <b th:text="${usuario.nome}"/></p>
                <p>CPF: <b th:text="${usuario.cpf}"/></p>
                <p>Endereco: <b th:text="${usuario.endereco}"/></p>
                <p>Telefone: <b th:text="${usuario.telefone}"/></p>
                <p>WhatsApp: <b th:text="${usuario.whatsapp}"/></p>
                <p>Email: <b th:text="${usuario.email}"/></p>
                <p>Usuario Cadastro: <b th:text="${usuario.usuarioCadastro}"/></p>
                <p>Usuario Exclusão: <b th:text="${usuario.usuarioExclusao}"/></p>
                <p>Observação: <b th:text="${usuario.observacao}"/></p>

                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>