<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Confirmação de Cadastro de Livros</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Dados enviados pelo usuario</h1>

            <div class="section text-center w-75">
                <p>ID do livro: <b th:text="${livro.idLivro}"/></p>
                <p>ISBN: <b th:text="${livro.isbn}"/></p>
                <p>Título: <b th:text="${livro.titulo}"/></p>
                <p>Ano: <b th:text="${livro.ano}"/></p>
                <p>Edição: <b th:text="${livro.edicao}"/></p>
                <p>ID da Editora: <b th:text="${livro.idEditora}"/></p>
                <p>Assuntos: <b th:text="${livro.assuntos}"/></p>
                <p>Palavras-Chaves: <b th:text="${livro.palavrasChaves}"/></p>
                <p>Prazo de Devolução (dias): <b th:text="${livro.prazo}"/></p>
                <p>Data do Registro: <b th:text="${livro.livroRegistro}"/></p>
                <p>Data da Exclusão: <b th:text="${livro.livroExclusao}"/></p>
                <p>Observação: <b th:text="${livro.observacoes}"/></p>

                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>