<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sign In</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/assets/identity/identity.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script>

        window.isSignUpPage = true;

        document.addEventListener('DOMContentLoaded', function () {
            const gitHubButton = document.querySelector('#github-button');
            if (gitHubButton)
                gitHubButton.onclick = githubSubmitted.bind(gitHubButton);

            const twitterButton = document.querySelector('#t-button');
            if (twitterButton)
                twitterButton.onclick = twitterSubmitted.bind(twitterButton);

            const logInForm = document.querySelector('#sign-up');
            if (logInForm)
                logInForm.onsubmit = logInSubmitted.bind(logInForm)

            const rememberMeCheckbox = document.querySelector("#remember-me");
            if (rememberMeCheckbox) {
                rememberMeCheckbox.checked = localStorage.getItem("remember-me") === "true";
                rememberMeCheckbox.onclick = rememberMe.bind(rememberMeCheckbox);
            }
        });

        const githubSubmitted = (event) => {
            event.preventDefault()

            supabase.auth.signInWithOAuth({provider: 'github'}, {
                redirectTo: window.location.href + "?login=true"
            })
                .then((response) => {
                    if (response.error)
                        displayError(response.error.message);
                })
                .catch((err) => {
                    if (err.response) {
                        console.log(err.response.text);
                        displayError(err.response.text);
                    }
                })
        }

        const twitterSubmitted = (event) => {
            event.preventDefault();

            supabase.auth.signInWithOAuth({provider: 'twitter'}, {
                redirectTo: window.location.href + "?login=true"
            })
                .then((response) => {
                    if (response.error)
                        displayError(response.error.message);
                })
                .catch((err) => {
                    if (err.response) {
                        console.log(err.response.text);
                        displayError(err.response.text);
                    }
                })
        }

        const rememberMe = () => {
            if (localStorage.getItem("remember-me") === "true")
                localStorage.setItem("remember-me", "false");
            else
                localStorage.setItem("remember-me", "true");

            updateCookies();
        }

        const logInSubmitted = (event) => {
            event.preventDefault()
            const email = event.target[0].value
            const password = event.target[1].value

            supabase.auth.signInWithPassword({email, password})
                .then((response) => {
                    if (response.error) {
                        console.log(response);
                        displayError(response.error.message);
                    }
                })
                .catch((err) => {
                    if (err.response) {
                        console.log(err.response.text);
                        displayError(err.response.text);
                    }
                })
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <div class='container-sm d-flex flex-wrap justify-content-center'>
        <div class="section text-center w-75">
            <h1>Entrar</h1>
            <div sec:authorize="isAuthenticated()">
                <p>Já encontra-se logado como <span th:text="${#authentication.name}">username</span></p>
                <p><a href="/identity/sign-out.html" th:href="@{/public/sign-out}">Sair</a></p>
            </div>
        </div>

        <div class='section w-75' sec:authorize="!isAuthenticated()" th:if="${hasToken}">
            <div class="text-center">
                <div>
                    <p>Redirecionando...</p>
                </div>
            </div>
        </div>

        <div class='section w-75' sec:authorize="!isAuthenticated()" th:if="${!hasToken}">
            <div class="d-flex justify-content-center mb-3 text-center">
                <button class="btn btn-primary mx-1" id="t-button" type="button">
                    <img alt="Twitter Login" src="/assets/svg/logo-twitter.svg"/>Twitter
                </button>
                <button class="btn btn-primary mx-1" id="github-button" type="button">
                    <img alt="GitHub Login" src="/assets/svg/logo-github.svg"/>GitHub
                </button>
            </div>
            <div class="text-center">
                <div>
                    <p>- or -</p>
                </div>
            </div>
            <div>
                <form id='sign-up'>
                    <div class="mb-3 form-floating">
                        <input autocomplete="email" autofocus class="form-control" id="email" name='email'
                               placeholder="nome@exemplo.com.br"
                               type='email'/>
                        <label for="email">Email</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input autocomplete="current-password" class="form-control" id="password" maxlength="250"
                               name="password"
                               placeholder="password" required type="password">
                        <label for="password">Senha</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" id="formInput2" type="checkbox">
                            <label class="form-check-label" for="formInput2">Lembre-se de mim</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" id="sign-in-button" name="sign-up-button" type='submit'>Entrar
                        </button>
                    </div>
                    <div class="mb-3 py-md-3 text-center">
                        <a href="/identity/create-account.html" th:href="@{/public/create-account}">Criar Conta</a> |
                        <a href="/identity/forgot-password.html" th:href="@{/public/forgot-password}">Esqueceu a Senha</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/public/assets/js/popper.min.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
