<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Listar Categorias Cadastradas</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Categorias Cadastradas</h1>
            <div class="section text-center w-75">
                    <div class="mb-3 form-floating">
                        <form th:action="@{/public/buscar-categorias}" method="post">
                            <label for="categoria-busca">Buscar categoria</label><br>
                            <input id="categoria-busca" type="text" autofocus name="termo" class="form-control" placeholder="Buscar categoria"/><br>
                            <button class="btn btn-primary" type='submit'>Buscar</button>
                        </form>
                    </div>
                    <hr>
                    <h2>Resultados</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <!-- Adicionar mais títulos de coluna conforme necessário -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="categoria : ${buscaCategorias}">
                                <td th:text="${categoria.descricao}"></td>
                                <!-- Adicionar mais colunas conforme necessário -->
                            </tr>
                        </tbody>
                    </table>
                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>
