<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>Confirmação de Cadastro de Colaboradores</title>
</head>
<body>
    <section layout:fragment="content">
        <div class='container-sm d-flex flex-wrap justify-content-center'>
            <h1>Dados enviados pelo colaborador</h1>

            <div class="section text-center w-75">
                <p>ID: <b th:text="${colaborador.idUsuario}"/></p>
                <p>Nome: <b th:text="${colaborador.nome}"/></p>
                <p>CPF: <b th:text="${colaborador.cpf}"/></p>
                <p>Endereço: <b th:text="${colaborador.endereco}"/></p>
                <p>Telefone: <b th:text="${colaborador.telefone}"/></p>
                <p>WhatsApp: <b th:text="${colaborador.whatsapp}"/></p>
                <p>Email: <b th:text="${colaborador.email}"/></p>
                <p>Usuário Cadastro: <b th:text="${colaborador.colaboradorCadastro}"/></p>
                <p>Usuário Exclusão: <b th:text="${colaborador.colaboradorExclusao}"/></p>
                <p>Observação: <b th:text="${colaborador.observacao}"/></p>

                <a href="/" th:href="@{/}">voltar ao início</a>
            </div>
        </div>
    </section>
</body>
</html>