<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cadastro de Emprestimos</title>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<section layout:fragment="content">
    <div class='container-sm d-flex flex-wrap justify-content-center'>
        <div class="section text-center w-75">
            <h1>Cadastro de Emprestimos</h1>
        </div>
        <div class="section w-75">
            <form th:action="@{/public/cadastrar-emprestimos}" th:object="${emprestimo}" method="post">
                <label for="emprestimo-id-exemplar">Id do exemplar</label><br>
                <div class="mb-3 form-floating">
                    <input id="emprestimo-id-exemplar" type="number" autofocus th:field="*{id_exemplar}"  class="form-control" required/>
                    <input name="emprestimo-nome-exemplar" type="text" class="form-control"  placeholder="nome do exemplar"/>
                    <button class="btn btn-primary">Buscar</button><br/>
                </div>
                <label for="emprestimo-id-usuario">Id do usuário</label><br>
                <div class="mb-3 form-floating">
                    <input id="emprestimo-id-usuario" type="number" th:field="*{id_usuario}"  class="form-control" required/>
                    <input name="emprestimo-nome-usuario" type="text" class="form-control"  placeholder="nome do usuário"/>
                    <button class="btn btn-primary">Buscar</button><br/>
                </div>
                <label for="emprestimo-id-colaborador">Id do colaborador</label><br>
                <div class="mb-3 form-floating">
                    <input id="emprestimo-id-colaborador" type="number" th:field="*{id_colaborador}"  class="form-control" required/>
                    <input name="emprestimo-nome-colaborador" type="text" class="form-control"  placeholder="nome do colaborador"/>
                    <button class="btn btn-primary">Buscar</button><br/>
                </div>
                <fieldset>
                    <legend>Datas do empréstimo</legend>
                    <label for="emprestimo-data-reserva">Reserva</label><br>
                    <div class="mb-3 form-floating">
                        <input id="emprestimo-data-reserva" type="date" th:field="*{emprestimo_reserva}" class="form-control"/><br/>
                    </div>
                    <label for="emprestimo-data-retirada">Retirada</label><br>
                    <div class="mb-3 form-floating">
                        <input id="emprestimo-data-retirada" type="date" th:field="*{emprestimo_retirada}" class="form-control"/><br/>
                    </div>
                    <label for="emprestimo-data-devolucao">Devolução</label><br>
                    <div class="mb-3 form-floating">
                        <input id="emprestimo-data-devolucao" type="date" th:field="*{emprestimo_devolucao}" class="form-control"/><br/>
                    </div>
                    <label for="emprestimo-data-cancelamento">Cancelamento</label><br>
                    <div class="mb-3 form-floating">
                        <input id="emprestimo-data-cancelamento" type="date" th:field="*{emprestimo_cancelamento}" class="form-control"/><br/>
                    </div>
                </fieldset>
                <label for="emprestimo-observacoes">Observações</label><br>
                <div class="mb-3 form-floating">
                    <textarea id="emprestimo-observacoes" th:field="*{observacoes}" class="form-control"></textarea><br/>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type='submit'>Salvar
                    </button>
                    <button class="btn btn-primary" type='reset'>Limpar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <a href="/" th:href="@{/}">voltar ao início</a>
</section>
</body>
</html>